{% extends "translations/base-generic.html" %}
{% load staticfiles %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'translations/styles/home.css' %}" />
{% endblock extra_styles %}

{% block title %}Linguini - Home{% endblock title %}

{% block navbar_home %}
    <li  class="active"><a href="/translations/home/" class="vt-p">Home</a></li>
{% endblock navbar_home %}

{% block content %}
    <h1>Home Page</h1>
    <p>Welcome, {{name}}!</p>
	</br>

	<h3>Languages</h3>
    <div style="padding-left:30px;">
    	{% for prof in language_profs %}
    		<span>{{prof.language.name}} - {{prof.get_proficiency_display}}</span></br>
    	{% endfor %}

    </div>

    <h3>Translate</h3>
    <div style="padding-left:30px;">
        {% for origin_prof in language_profs %}
            <h4>{{origin_prof.language.name}}</h4>
            <div class="language_trans_listing">
                {% for dest_prof in language_profs %}
                    {% if origin_prof != dest_prof %}
                        <span><a href="{% url 'translations:user-translate' origin_prof.language.id dest_prof.language.id %}">{{origin_prof.language.name}} --> {{dest_prof.language.name}}</a></span></br>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

    </div>
{% endblock content %}
