{% extends "translations/base-generic.html" %}
{% load staticfiles %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static "translations/styles/login.css" %}" />
{% endblock extra_styles %}

{% block title %}Linguini - Login{% endblock title %}

{% block content %}

    <form class="form-signin" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Sign in</h2>
        <input type="text" name="username" class="input-block-level" placeholder="Username">
        <input type="password" name="password" class="input-block-level" placeholder="Password">
        <div class="checkbox">
            <label id="register-link"><a href="/translations/register/">Register Here</a></label>
        </div>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>

      {% if error_message %}
      <label style="color:red;">{{ error_message }}</label>
      {% endif %}

{% endblock content %}
