{% extends "translations/base-generic.html" %}
{% load staticfiles %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static "translations/styles/translation-main.css" %}" />
{% endblock extra_styles %}

{% block title %}Linguini - Translation{% block title %}

{% block navbar_new_article %}
            <li class="active"><a href="/translations/main" class="vt-p">Translations</a></li>
{% endblock navbar_new_article %}

{% block content %}
<div class="new-article-content">
    <h1>New Article</h1>

    <form class="form-horizontal" role="form" action="{% url 'translations:submit-new-article' %}" method="post" id="new-article">
    {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label" for="article-name">Name</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="article-name" id="article-name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="article-source">Source</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="article-source" id="article-source"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="article-url">URL</label>
            <div class="col-sm-10">
                <input class="form-control" type="url" name="article-url" id="article-url"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="article-difficulty">Difficuly</label>
            <div class="col-sm-4">
                <select class="form-control" id="article-difficulty" name="article-difficulty" form="new-article">
                    <option value="1">Very Easy</option>
                    <option value="2">Easy</option>
                    <option value="3">Moderate</option>
                    <option value="4">Difficult</option>
                    <option value="5">Very Difficult</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="article-content">Content</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="article-content" name="article-content" rows="5"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="article-origin-language">Origin Language</label>
            <div class="col-sm-4">
                <select class="form-control" id="article-origin-language" name="article-origin-language" form="new-article">
                    {% for language in languages %}
                        <option value="{{ language.id }}">{{ language.name }} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="article-desired-language">Desired Languages</label>
            <div class="col-sm-4">
                <select multiple="multiple" class="form-control" id="article-desired-language" name="article-desired-language" form="new-article">
                    {% for language in languages %}
                        <option value="{{ language.id }}">{{ language.name }} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock content %}
